.guest__page {
    margin: 0;
    height: 100vh;
}

/*Header*/

.guest__header {
    font-size: 16px;
	min-width: 320px;
    max-width: 1280px;
    height: auto;
    font-family: "RobotoRegular", sans-serif;
    display: grid;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 255;
    grid-template-columns: 
        2fr
        3fr
        2fr;
}

/*Header-left*/

.guest__header__left {
    width: 100%;
    text-align: right;
    background-color: tomato;
    margin: 0 auto;
}

.guest__header__nav__left {
    text-align: center;
}

.guest__header__nav__left ul {
    margin: 0;
    padding-inline-start: 0;
}

.guest__header__nav__left ul li {
    display: inline-block;
}

.guest__header__nav__left__left {
    margin: 5%;
    width: 20%;
    height: 100%;
    background-color: teal;
    height: 0px;
}


@media screen and (max-width: 680px) {
    .guest__header__nav__left__left {
        margin: 10%;
        width: 22,5%;
        height: auto;
    }
}

.guest__header__nav__left__right {
    margin: 5%;
    width: 20%;
    height: 100%;
    background-color:yellow;
}

@media screen and (max-width: 680px) {
    .guest__header__nav__left__right {
        margin: 10%;
        width: 22,5%;
    }
}

/*Header-center*/

.guest__header__center {
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    margin: 0 auto;
}

.guest__header__nav__center {
    text-align: center;
}

.guest__header__nav__center ul {
    margin: 0;
    padding-inline-start: 0;
}

.guest__header__nav__center ul li {
    display: inline-block;
}

.guest__header__nav__center__left {
    margin-top: 4%;
    margin-right: 10%;
    width: 14%;
    height: 100%;
    background-color: teal;
}


@media screen and (max-width: 680px) {
    .guest__header__nav__center__left {
        margin: 7,5%;
        width: 15%;
    }
}

.guest__header__nav__center__center {
    margin-top: 4%;
    width: 14%;
    height: 100%;
    background-color:yellow;
}

@media screen and (max-width: 680px) {
    .guest__header__nav__center__center {
        margin: 7,5%;
        width: 15%;
    }
}

.guest__header__nav__center__right {
    margin-top: 4%;
    margin-left: 10%;
    width: 14%;
    height: 100%;
    background-color:yellow;
}

@media screen and (max-width: 680px) {
    .guest__header__nav__center__right {
        margin: 7,5%;
        width: 15%;
    }
}

/*Header-right*/

.guest__header__right {
    width: 100%;
    background-color: blueviolet;
    margin: 0 auto;
    text-align: left;
}


.guest__header__nav__right {
    text-align: center;
}

.guest__header__nav__right ul {
    margin: 0;
    padding-inline-start: 0;
}

.guest__header__nav__right ul li {
    display: inline-block;
}

.guest__header__nav__right__left {
    margin: 5%;
    width: 20%;
    height: 100%;
    background-color: teal;
}

@media screen and (max-width: 680px) {
    .guest__header__nav__right__left {
        margin: 10%;
        width: 22,5%;
        height: auto;
    }
}

.guest__header__nav__right__right {
    margin: 5%;
    width: 20%;
    height: 100%;
    background-color:yellow;
}

@media screen and (max-width: 680px) {
    .guest__header__nav__right__right {
        margin: 10%;
        width: 22,5%;
        height: auto;
    }
}

@media screen and (min-width: 760px) {
    .guest__header__nav__right__right {
        visibility: hidden;
    }
}



/*Content*/

.guest__content {
    width: 100%;
    height: 500px;
    display: inline-block;
    background-color: aqua;
    min-width: 320px;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 
    1fr
    2fr
    1fr;
    margin: 0 auto;
    padding: 0 0;
}

@media screen and (max-width: 680px) {
    .guest__content {
        grid-template-columns: 
        1fr;
    }
}

.guest__content_left {
    width: 300px;
    background-color: blue;
    display: inline-block;
    margin: 0 auto;
}

@media screen and (max-width: 980px) {
    .guest__content_left {
        width: 80px;
    }
}

@media screen and (max-width: 680px) {
    .guest__content_left {
        display: none;
    }
}

.guest__content_center {
    width: 600px;
    background-color: white;
    display: inline-block;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .guest__content_center {
        width: 100%;
    }
}

.guest__content_right {
    width: 300px;
    background-color: green;
    display: inline-block;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .guest__content_right {
        width: 80px;
    }
}

@media screen and (max-width: 760px) {
    .guest__content_right {
        display: none;
    }
}

/*Menu*/


